@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*Globale farver for task-manageren*/
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Light mode (standard) */
  --button-color: rgb(34, 34, 34);
  --button-hover-color: rgb(19, 19, 19);
  --theme-main-color: #003F73;
  --text-color-light: #ffffff;
  --text-color-dark: black;
  --text-color-grey: #727272;
  --background-color: #ffffff;
}

.dark-mode {
  /* Dark mode */
  --button-color: #e0e0e0;
  --button-hover-color: #cfcfcf;
  --theme-main-color: #001f37;
  --text-color-light: black;
  --text-color-dark: #ffffff;
  --text-color-grey: #ececec;
  --background-color: #3b3b3b;
}

/*Gør dato-svg til hvid*/
.dark-mode .date-class img {
  filter: invert(100%) sepia(0%) saturate(7428%) hue-rotate(20deg) brightness(120%) contrast(114%);
}

/*Ændre farven på box-shadow til lys på opgave-boksen*/
.dark-mode .task-ul {
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.116);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*Global styling af knapper*/
.global-button {
  background-color: var(--button-color);
  color: var(--text-color-light);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 36px;
}

.global-button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

