@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*Globale farver for task-manageren*/
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  /* Light mode (standard) */
  --button-color: rgb(34, 34, 34);
  --button-hover-color: rgb(19, 19, 19);
  --theme-main-color: #003F73;
  --text-color-light: #ffffff;
  --text-color-dark: black;
  --text-color-grey: #2c2c2c;
  --background-color: #ffffff;
  --complementary-color: #FFAB00;
}

.dark-mode {
  /* Dark mode */
  --button-color: #e0e0e0;
  --button-hover-color: #cfcfcf;
  --theme-main-color: #001f37;
  --text-color-light: black;
  --text-color-dark: #ffffff;
  --text-color-grey: #ececec;
  --background-color: #3b3b3b;
  --complementary-color: #FFAB00;

}

/*Gør dato-svg til hvid*/
.dark-mode .date-class img {
  filter: invert(100%) sepia(0%) saturate(7428%) hue-rotate(20deg) brightness(120%) contrast(114%);
}

/*Ændre farven på box-shadow til lys på opgave-boksen og sidebar*/
.dark-mode .task-ul {
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.116);
}

.dark-mode .SideBar {
  box-shadow: 2px 0 10px rgba(61, 61, 61, 0.5);

}

.dark-mode .filter-dropdown, .dark-mode .filter-input{
  background: transparent;
  color: white; 
}

.dark-mode .filter-dropdown option {
  background: #3b3b3b;
}

/*Generel styling af body element*/
body {
  margin: 0;
  display: flex;
  place-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  color: var(--text-color-dark);
  font-size: 24px;
}

/*Global styling af knapper og forbedring af outline*/
.global-button {
  background-color: var(--button-color);
  color: var(--text-color-light);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 36px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.global-button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.global-button:focus {
  outline: 4px solid #535bf2;  
}


/*Generel styling af main*/
main{
  padding-bottom: 30px;

}