

h3 {
    color: black;
}


.task-ul {
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    width: calc(100vw - 280px);
    color: black;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    border-radius: 50px;
    margin-bottom: 10px;
    width: calc(100vw - 280px);
    text-align: center;
    font-size: 13px;
} 


.task-ul li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.headlines-container {
    color: black;
}

.headlines-container ul {
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    width: calc(100vw - 280px);
    padding: 12px 20px;
    font-size: 14px;
    color: rgb(44, 44, 44);
    text-align: center;

}

.task-description {
    display: none;
}

.type-box {
    background: #D9D9D9;
    width: fit-content;
    padding: 2px 12px;
    border-radius: 30px;
}

.task-title {
    font-weight: 700;
    text-align: left;
    font-size: 15px;
}

.description-element {
    text-align: left;
}

.type-li {
    display: flex;
    justify-content: center;
}


@media (max-width: 900px) {
    .task-ul, .headlines-container ul  {
        width: 100%;
        box-sizing: border-box;

    }
}
