/*Styling af sorteringsknapper og container*/
.sort-buttons {
    display: flex;
    color: var(--text-color-dark);
}

.sort-buttons p {
    padding-right: 15px;
}

.sort-buttons-container {
    display: flex;
    align-items: center;
}



/*Styling af den usynlige box hvori kategorierne/overskrifterne vises*/
.headlines-container ul {
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 0.9fr 1.7fr 0.9fr;
    width: calc(100vw - 310px);
    padding: 12px 20px;
    color: var(--text-color-grey);
    text-align: center;

}

.headlines-container {
    color: var(--text-color-grey);
}

.headlines-container ul li button {
    background-color: transparent;
    box-shadow: none;
    color: var(--text-color-grey);
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.description-element {
    text-align: left;
}

.type-li {
    display: flex;
    justify-content: center;
}

.date-class img {
    display: none;
}

.type-container, .priority-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Mobil styling af sort buttons*/
@media (max-width: 430px) {

.sort-buttons {
    flex-direction: column;
}

.sort-buttons p {
    margin-bottom: 2px;
    margin-top: 0;
}

}