h3 {
    color: black;
}

/*Styling af boxen som viser info om opgave*/
.task-ul {
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    width: calc(100vw - 280px);
    color: black;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    border-radius: 50px;
    margin-bottom: 10px;
    width: calc(100vw - 280px);
    text-align: center;
    font-size: 13px;
    position: relative;
} 

.type-prio-wrapper {
        display: contents;
    }


.task-ul li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.headlines-container {
    color: black;
}
/*Styling af den usynlige box hvori kategorierne/overskrifterne vises*/
.headlines-container ul {
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    width: calc(100vw - 280px);
    padding: 12px 20px;
    font-size: 14px;
    color: rgb(44, 44, 44);
    text-align: center;

}

.task-description {
    display: none;
}

.type-box, .priority-class {
    background: #ccd9ff;
    width: fit-content;
    padding: 2px 12px;
    border-radius: 30px;
    color: black; 
}

.task-title {
    font-weight: 700;
    text-align: left;
    font-size: 15px;
}

.description-element {
    text-align: left;
}

.type-li {
    display: flex;
    justify-content: center;
}

.date-class img {
    display: none;
}

.type-container, .priority-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling af lav prioritet */
.priority-class.lav {
    background-color: #00B23F;
}

/* Styling af middel prioritet */
.priority-class.middel {
    background-color: #F2B705;
}

/* Styling af høj prioritet*/
.priority-class.høj {
    background-color: #FF6262;
}

.edit-button {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    width: auto;
    height: 20px;
    padding: 0;
}

.edit-button:hover {
    background: transparent;
}

.edit-button img {
    width: 20px;
    height: auto;
    transition: transform 0.2s ease-in;
}

.edit-button img:hover {
    transform: scale(1.2);
}


.save-btn {
    width: fit-content;
}


.btn-wrapper {
    display: flex;
    gap: 6px;
}

/*Styling af sorteringsknapper*/
.sort-buttons button {
    background-color: #003F73;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.sort-buttons button:hover {
    background-color: #002b50;
}

/*Mobil styling af opgavelisten*/

@media (max-width: 900px) {
    .task-ul  {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 90vw;
        align-items: flex-start;
        max-width: 550px;
        border-radius: 30px;
        gap: 12px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }

    .type-prio-wrapper {
        display: flex;
        gap: 10px;
    }

    .task-title {
        order: 1;
    }

    .type-prio-wrapper {
        order: 2;
    }

    .date-class {
        order: 3;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .date-class img {
        width: 18px;
        display: block;
    }
    
    .headlines-container ul, .headlines-container {
        display: none;
        order: 4;
    }

    

}